
body,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

:root {
	--primary-bg-color: #3498db; 
	--secondary-bg-color: #ffffff; 
	--light-bg-color: #ecf0f1; 
	--extra-light-bg-color: #f7f7f7; 
}

body {
	background-color: var(--extra-light-bg-color);
	background-image: url(img.jpg);
	font-family: "Arial", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbar {
	background-color: var(--primary-bg-color);
	color: white;
	padding: 10px;
	position: sticky;
	top: 0;
	z-index: 2; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Arial", sans-serif; 
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid var(--light-bg-color);

	width: 100%;
	height: 50px;
}

.navbar li:hover {
	background-color: var(--primary-bg-color);
	color: var(--light-bg-color);
	border-bottom: 1px solid var(--light-bg-color);

	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
}

.logo {
	margin-left: 20px;
}

.logo img {
	width: 50px; 
}

.main-menu {
	list-style: none;
	display: flex;
	margin-right: 20px;
	font-weight: bold; 
}
.main-menu li {
	margin: 0 10px;
}

.main-menu a {
	color: white;
	text-decoration: none;
}


.hero {
   
    background-size: cover;
    background-position: center;
    background-color: var(--light-bg-color);
    text-align: center;
    padding: 20px;
    margin-top: 20px; 
}



.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
}


.grid-item {
	background-color: var(--secondary-bg-color);
	padding: 20px;
	text-align: center;
	border: 2px solid var(--primary-bg-color);
	border-radius: 10px;
	transition: transform 0.2s ease;
}

.grid-item:hover {
	transform: scale(1.05);
}

.grid-item a {
	text-decoration: none;
	color: var(--primary-bg-color);
}


.footer {
	background-color: var(--primary-bg-color);
	color: white;
	padding: 20px;
	text-align: center;
	margin-top: auto;
}

.social-media a {
	color: white;
	text-decoration: none;
	margin: 0 10px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.grid-item,
.footer {
	animation: fadeIn 1s;
}
